*

!.gitignore
!.gitmodules
!Makefile
!README.md
!config.tex
!collocore

!src/
!src/img/
!src/img/*.png
!src/img/*.gif
!src/img/*.jp*g

!src/tickets/
!src/tickets/*.tex

!src/include/
!src/include/*.tex

*/**/.DS_Store
